[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.75.1"
uvicorn = {extras = ["standart"], version = "*"}
flake8 = "==4.0.1"
Owlready2 = "==0.37"
bentoml = "==1.0.0a7"
build = "==0.7.0"
pandas = "==1.4.2"
tqdm = "==4.64.0"
torch = "==1.12.0"
scikit-learn = "==1.1.1"
matplotlib = "==3.5.2"
seaborn = "==0.12.0b2"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
